/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
}

.dark-theme {
    background: rgb(46,46,46);
    color: rgb(218,214,206);
}