.content {
  margin: auto;
  width: 50%;
  .headline {
    text-align: center;
  }
}

.links-container {
  position: absolute;
  top: 0;
  .links {
    display: flex;
    flex-flow: column;
    button {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .content {
    width: 90%;
  }
}
