.content {
  margin: auto;
  margin-top: 5rem;
  width: 50%;
  .headline {
    text-align: center;
  }
}

.links-container {
  $button-size: 4rem;
  width: $button-size;
  .links {
    display: flex;
    flex-flow: column;
    img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 600px) {
  .content {
    width: 90%;
  }
}
