<div class="content">
  <div class="headline">
    <h1 class="mat-h1">Duncan Klug</h1>
    <h2 class="mat-h2">My website isn't done yet, don't look!</h2>
  </div>
  <!-- <a mat-raised-button color="primary" routerLink="cssbench">>Trippy CSS</a> -->
  <div class="links-container">
    <div class="links">
      <button mat-icon-button onclick="window.open('https://www.linkedin.com/in/duncanklug/','_blank')">
        <img height="50em" src="../../assets/LI-In-Bug.png">
      </button>
      <button mat-icon-button onclick="window.open('https://github.com/dklug','_blank')">
        <img height="50em" src="../../assets/GitHub-Mark-120px-plus.png">
      </button>
    </div>
  </div>
</div>